*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
  }


  #bmi{
    background-color: white;
  }


  #weight{
    color: aqua;

  }

#height{
    color: aqua;
}  

#BMI{
    color: aqua;
}

#calculate{
    background-color: red;
    

}